// .canyon-photo {
//     width: 100%;
//     object-fit: cover;
// }

.dashboard-container {
    height: 100vh;
    background-image: url('../../Media/Canyon3.jpeg');
    background-size: cover;
}

.overlay-text {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-10%, -50%);
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px;
    color: white;
    max-width: 40%;
    font-size: 20px;
    font-size: 1vw;
    border-radius: 10px;
    text-align: left;
}